.search-background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 110;
	background: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(5px);
	visibility: hidden;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.search-background--active {
	visibility: visible;
	opacity: 1;
}

.search-overlay {
	position: relative;
	border-radius: 6px;
	background-color: rgb(255, 255, 255);
	width: 50%;
	max-height: 50%;
	transform: scale(1.09);
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
	transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
}

.search-overlay--active {
	visibility: visible;
	transform: scale(1);
	opacity: 1;
}

.search-overlay .search-overlay__top {
	background-color: rgba(0, 0, 0, 0.12);
}

.search-overlay .search-container {
	display: flex;
	align-items: center;
}

.container--center {
	justify-content: center;
}

.search-overlay .search-overlay__icon {
	margin-inline: 10px;
	font-size: 2rem;
}

.search-overlay .search-overlay__close {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 1.8rem;
	cursor: pointer;
	transition: all 0.3s;
	background-color: #fff;
	line-height: 0.7;
	opacity: 0.8;
}

.search-overlay .search-overlay__close:hover {
	opacity: 1;
}

.search-overlay .one-half {
	padding-bottom: 0;
}

.search-overlay .search-term {
	width: 75%;
	box-sizing: border-box;
	border: none;
	padding: 15px 0;
	margin: 0;
	background-color: transparent;
	outline: none;
}

.search-overlay .search-term,
.search-overlay .search-term::placeholder {
	font-size: 1.2rem;
}

.spinner-loader {
	margin: 25px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	border: 0.25rem solid rgba(0, 0, 0, 0.2);
	border-top-color: black;
	-webkit-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.body-no-scroll {
	overflow: hidden;
}

@media screen and (max-width: 1024px) {
	.search-overlay {
		width: 70%;
		height: 70%;
	}
}

@media screen and (max-width: 768px) {
	.search-overlay {
		width: 70%;
		height: 70%;
	}

	.search-overlay .search-overlay__icon {
		font-size: 1.6rem;
	}

	.search-overlay .search-term,
	.search-overlay .search-term:placeholder {
		font-size: 1rem;
	}
}

/* search results */
#search-overlay__results {
	--height: 398px;
	flex-grow: 1;
	height: var(--height);
}

#search-overlay__results p {
	margin: 25px;
}

.scroll {
	overflow: auto;
	max-height: var(--height);
}

.list--none {
	padding: 0;
	margin: 0;
	list-style: none;
}

.result-item li {
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.result-item li:hover {
	background: rgba(0, 0, 0, 0.05);
}

.result-item li a {
	flex-grow: 1;
	padding: 0.5rem 0.75rem;
	text-decoration: none;
}

.type {
	margin-right: 1rem;
	font-size: 14px;
}

.type--post {
	color: black;
}

.type--page {
	color: #00a0d2;
}

.type--famous-quote {
	color: red;
}

.type--quote-author {
	color: yellow;
}
